
.container {
    position: relative;
    top: 50px;
    height: 500px;
    width: 400px;;
    left: 30%;
    
    border: 5px black solid; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    

    
}


.display-screen {
    order: 1; 
    height: 30%;
    background-color: lightgrey;
    font-size: 3.6vw;
    border: 5px black solid; 
    font-family: sans-serif;
    direction: ltr;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;

    
    
    
}

.keyboard {
    
    order: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    height: 70%;
    
    background-color: black;
   
    
    
    
}


.button-opr {
    order: 1;
    
    margin: 0px;
    padding: 0px;
    
    border: 2px black solid; 
    border-radius: 5px;
    text-align: center;
    font-size: 40px;
    background-color: dodgerblue;
    width: 32%;
    height: 15.5%; 
}


.button-equal {
    order: 11;
    
    margin: 0px;
    padding: 0px;
    
    border: 2px black solid; 
    border-radius: 5px;
    text-align: center;
    font-size: 40px;
    background-color: lightcoral;
    width: 65%;
    height: 15.5%; 
}

.button-dot {
    order: 9;
    border: 2px black solid;
    border-radius: 5px; 
    text-align: center;
    font-size: 40px;
    background-color: gainsboro;
    width: 32%;
    height: 15.5%;
    
}

.button-ac {
    order: 10;
    border: 2px black solid; 
    border-radius: 5px; 
    text-align: center;
    font-size: 40px;
    background-color: orange;
    width: 32%;
    height: 15.5%;
    
}

.button-num {
    order: 7;
    border: 2px black solid; 
    border-radius: 5px; 
    text-align: center;
    font-size: 40px;
    background-color: yellowgreen;
    width: 32%;
    height: 15.5%; 
}




body {
    background-color: lightsteelblue;
}

